/* Defining tables  */
table {
color:black;
background-color: LemonChiffon;
font-size:100%;
border-style:solid solid solid solid;
border-width: 1px;
line-height:1.5em;
}

/* Defining label */
.label {
  font-family: Tahoma;
  font-size: 10pt;
  color: black;
  background-color: #d4d0c8;

/* Defining visuaully pleasing thing that I don't know the name of */
.pretty_box {
  border-left: 2px solid #d4d0c8;
  border-right: 2px solid #d4d0c8;
  font-family: Tahoma;
  color: black;
  font-size: 10pt;
  background-color: #d4d0c8;
  white-space: nowrap;
}
.pretty_box:hover {
  border-left: 2px solid #0a246a;
  border-right: 2px solid #0a246a;
  font-family: Tahoma;
  font-size: 10pt;
  background-color: #0a246a;
  color: white;
  white-space: nowrap;
}

/* Defining button class */
.button {
  border-style: solid;
  border-color: white #625f5d #625f5d white;
  border-width: 2px;
  font-family: Tahoma;
  font-size: 10pt;
  color: black;
  background-color: #d4d0c8;
  white-space: nowrap;
  padding-left: 2px;
  padding-right: 2px;
}
.button:hover {
  border-style: solid;
  border-color: #625f5d white white #625f5d;
  border-width: 2px;
  font-family: Tahoma;
  font-size: 10pt;
  color: black;
  background-color: #d4d0c8;
  white-space: nowrap;
  padding-left: 2px;
  padding-right: 2px;
}

/* Defining blockquote (it's not working D:) */
.content blockquote p {
  font-style: italic;
  margin: 0;
  padding: 0 20px 8px;
}

blockquote {
  background: url('images/close-quote.gif') no-repeat right bottom;    /* LTR */
  color: #5A6A78;
  margin: 10px 0;
}

blockquote :first-child {
  background: url('images/open-quote.gif') no-repeat left top;    /* LTR */
  padding: 10px 0 0 20px;    /* LTR */
}

blockquote * > :first-child {
  background: transparent;
  padding: 0;
}

blockquote a:link {
  text-decoration: underline;
}