/* Defining body color */
body {
background-color: #222222;
color: #c0c0c0;
}

/* Subtitle class */
.sub_title {
font-weight: bold;
font-size: 150%;
background-color: #161616;
border: 1px solid #484848;
padding:2px;
}

/* Subtitle class, underlined (I didn't want all my subtitles underlined dammit!) */
.sub_title-u {
text-decoration: underline;
font-weight: bold;
font-size: 150%;
background-color: #161616;
border: 1px solid #484848;
padding:2px;
}

/* Main title */
.main_title {
text-align:center;
background-color: #161616;
border: 1px solid #484848;
padding: 2px;
}

/* Link defining */
a:link {
color: #c0c0c0;
font-weight: bold;
text-decoration: none;
}

/* Visited link defining */
a:visited {
color: #c0c0c0;
}

/* Hover link defining (when you put your cursor over the link) */
a:hover {
	transition: color 1s;
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
	-ms-transition: color 1s;
	-o-transition: color 1s;
color:#B02228;
}

/* Active link defining (I actually forgot why I have this, but it must be important) */
a:active {
text-decoration: underline;
}

/* Defining margin and padding for most tags */
html, body, div, span,
p, blockquote, pre, code,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
form, fieldset, legend, label, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
}

/* Image Border */
img {
  border: 0;
}

/* Defining classes in general (all <p class=""> tags will style this way) */
p {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5;
  margin: 10px 0;
}

/* Lists (all this for those little dots next to the menu... I could've just used bigger fucking dots, 
but noooOOOOoooooo this "looks nicer" */
ul {
  margin: 0 0 12px;
  padding: 0;
}
ol {
  margin: 10px 0 14px;
  padding: 0;
}
ul.menu li,
.item-list ul li {
  margin: 2px 0 2px 6px;    /* LTR */
}
ul.menu ul, .item-list ul ul {
  margin-left: 0;
}
ul li,
ul.menu li,
.item-list ul li,
li.leaf {
  margin: 2px 0;
  padding: 2px 0 0 16px;    /* LTR */
}
ul li,
ul.menu li,
.item-list ul li,
li.leaf {
  background: url('images/menu-leaf.png') no-repeat left 0.6em;    /* LTR */
  list-style-image: none;
  list-style-type: none;
}